.signup-container {
    background-color: #0babf8;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .signup-image{
    height:700px;
    width: 950px;
  }
  .signup-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  

  
  .signup-container form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
    outline: none;
    border-radius: 9px;
  }
  
  .signup-container form button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #3B4856;
    color: white;
    cursor: pointer;
  }
  label{
    color:#ffffff;
  }
  
  .signup-container form button:hover {
    background-color: #3B4856;
  }
  .create-heading{
    color:#ffffff
  }
  .signup-response{
    color:red;
  }

  @media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .signup-image{
      height:400px;
      width: 400px;
    }
    
    .signup-container{
      flex-direction: column;
      padding-bottom: 45px;
    }
  }